body {
  background-color: rgb(194, 226, 237);
  text-align: center;
  margin-top: 200px;
}

h1 {
  display: block;
}

p {
  display: block;
}
#buttstart {
  display: block;
  margin: auto;
  margin-top: 50px;
}

#click {
  position: absolute;
  display: none;
  background-color: cadetblue;
}

#win {
  display: none;
}

#next {
  display: none;
  margin: auto;
}

#lose {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  width: 150px;
  min-height: 50px;
  text-align: center;
  color: black;
  border-radius: 9px;
}
