body {
  text-align: center;
  margin-top: 200px;
  background-color: rgb(194, 226, 237);
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#lose button {
  width: 150px;
  text-align: center;
  color: black;
  border-radius: 9px;
}

#i1 {
  background-color: blue;
}
#i2 {
  background-color: red;
}
#i3 {
  background-color: green;
}
#i4 {
  background-color: yellow;
}
#i5 {
  background-color: purple;
}
#i6 {
  background-color: orange;
}
#i7 {
  background-color: pink;
}

#i8 {
  background-color: brown;
}
#i9 {
  background-color: gray;
}

#good {
  background-color: cadetblue;
}

#lose {
  display: none;
}

#next {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
#next button {
  width: 150px;
  text-align: center;
  color: black;
  border-radius: 9px;
}
